/* ==== Google font ==== */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url('http://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700');

body {
    width: 100%;
    height: 100%;
    font-family: 'Ek Mukta', sans-serif;
	font-weight: 300;
    color: #666;
    background-color: #fff;
	font-size: 16px;
    line-height: 1.6em;
	font-weight: 400;
  font-size: 20px;
}

/* --- logo --- */
.site-logo {
	margin-top:10px;
}

}
.site-logo a.brand:hover {
	text-decoration:none;
}


/* ------- Navigation ------------ */

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-weight: 700;
}


.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
	padding:30px;
}

.navs ul.nav li a {
	font-size: 14px;
	letter-spacing: 2px;
    color: #444;
	text-transform: uppercase;
	font-weight: 700;
}

.navs.top-nav-collapse ul.nav li a {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #fff;
}

.navs ul.nav ul.dropdown-menu {
	  border-radius: 0;
	margin-top: 21px;
	border-top: none;
}

.navs ul.nav li a:hover ul.dropdown-menu {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.navs ul.nav ul.dropdown-menu li:last-child{
	border-bottom: none;
}

.navs ul.nav ul.dropdown-menu li a {
	padding: 10px 20px;
}

.navs.top-nav-collapse ul.nav ul.dropdown-menu li a {
	color: #666;
}

.navs .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navs .nav li a:hover,
.navs .nav li a:focus,
.navs .nav li.active {
    outline: 0;
    background-color:#000d1a ;
	color:#fff;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 18px;
    color: #000;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

.loginBtn {
  border: 1px solid #D09A43;
  border-radius: 50px;
}

.loginBtn a:hover{
  border-radius: 50px;
}

/* --- back to top button --- */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:#e8e6e3;
    color: black;
    cursor: pointer;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 70px;

}

#myBtn:hover {
    background-color: #555;
    color: #ffffff;
}

/* --- about --- */
#about {
	background-color:#f9f9f9;
  font-size: 20px;
  padding-bottom: 30px;
}
.agn {
  padding-top: 180px;
}

.quotes{
  width:auto;
  border: 5px solid #71D0FF;
  padding: 25px;
  margin: auto;
}

/* --- services --- */
#services {
	background-color:#ffffff;
  padding-bottom: 30px;
}

.donationBtn {
  border-radius: 12px;
  background-color: #F97044;
  color: #ffffff;
  text-align: center;
  padding: 15px 32px;
  font-size: 20px;
  text-decoration: none;
}

.donationBtn a {
  color: #ffffff;
}

.donationBtn:hover {
  background-color: #ffffff;
  color: #F97044;
  border-color: #F97044;
  text-decoration: none;
}

.donationBtn:hover a{
  text-decoration: none;
  color: #F97044;
}

.postBtn {
  border-radius: 12px;
  background-color: #4CAF50;
  color: #ffffff;
  text-align: center;
  padding: 15px 32px;
  font-size: 20px;
  text-decoration: none;
}

.postBtn a{
  color: #ffffff;
}

.postBtn:hover {
  background-color: #ffffff;
  color: #4CAF50;
  border-color: #4CAF50;
  text-decoration: none;
}

.postBtn:hover a{
  text-decoration: none;
  color: #4CAF50;
}

/* --- donations --- */
#donations {
	text-align:center;
	padding-bottom:30px;
	background-color:#f9f9f9;
}

.bankLogo{
  padding-bottom: 10px;
}

.Aname {
  font-size:35px;
  border-width: 1px;
  border-style: dashed;
  border-color: #000000;
  padding: 10px;
}

.pledge {
  text-align:center;
}

.Pform {
  padding: 50px;
  padding-top: 20px;
  border: 1px solid #000000;
}

.pTitle{
  padding-bottom: 20px;
  font-weight: bold;
}

.submitBtn {
  background-color: #4CAF50;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 20px;
}

.Pimg{
  padding: 30px;
}

/* ===========================
--- General sections
============================ */
.home-section {
    padding-top: 40px;
    padding-bottom: 110px;
	display:block;
    position:relative;
    z-index:120;
}


.section-heading {
	margin-top:120px;
	margin-bottom:60px;
}



.section-heading h2 {
	font-size: 40px;
	letter-spacing: -1px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.section-heading p {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.6em;
}

.service-icon {
	margin-bottom:50px;
  text-align: center;

}

.iconTitle{
  text-align: center;
}

.service-icon:hover {
	color:#D09A43;

}
.cImage{
  width:100%;
}

.item{width:100%;
      height:100%;
      margin:auto;}

.carousel-inner{width:100%;
                height: 100%;
                margin:auto;}
.carousel-caption{color:#e6e6e6;
                  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                  margin:auto;}

ol.carousel-indicators li {
  background: transparent;
  border-color: #3A3434;
}

ol.carousel-indicators li.active {
  background: #0E0D0D;
  height: 100%;
}

/* ===========================
--- Footer
============================ */

footer {
    background-color: #000d1a;
}

footer {
	text-align: center;
	padding: 10px 0 ;

}

footer p {
	color: #fff;
	font-size: 16px;
}
footer a {
	color: #000;
}

footer a:hover {
	color: #fff;
	text-decoration:none;
}

footer a.scrollup {
	color: #fff;
	margin-bottom: 20px;
}
footer a.scrollup:focus {
	outline: 0;
}
